[submodule "clients/qala-studio"]
	path = clients/qala-studio
	url = https://github.com/Lakshya4392/QALASTUDIO.git
[submodule "clients/pro-athlete-fitness"]
	path = clients/pro-athlete-fitness
	url = https://github.com/harsh-dronie/Pro-Athlete-Fitness.git
[submodule "clients/weather-app"]
	path = clients/weather-app
	url = https://github.com/harsh-dronie/weather-app.git
